<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID">
	  <!-- 这是项目的名称 -->
	  <display-name>springmvc</display-name>
	  
	  <listener>
	    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	  </listener>
	 
	 <listener>
        <description>Spring容器加载监听器</description>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
     </listener>
     <context-param>
        <description>设置Spring加载时的配置文件位置，默认位置在WEB-INF/lib目录下</description>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:applicationContext.xml
        classpath*:/spring/*.xml</param-value>
     </context-param>

     <!--Spring MVC 前置Servlet，中心控制器 -->
     <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <!--Spring MVC配置文件路径 -->
            <param-value>classpath*:dispatcher-servlet.xml</param-value>
        </init-param>
        <!-- 启动动优先级，越小越早加载 -->
        <load-on-startup>1</load-on-startup>
        <!--Servlet3.0以上文件上传配置 -->
        <multipart-config>
            <!--上传文件的最大限制5MB -->
            <max-file-size>5242880</max-file-size>
            <!--请求的最大限制20MB -->
            <max-request-size>20971520</max-request-size>
            <!--当文件的大小超过临界值时将写入磁盘 -->
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
     </servlet>
     <!-- Servlet访问的路径映射，所有的访问都必须经过调度用的前置控制品 -->
     <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
     </servlet-mapping>
    
    <!--编码过滤器 -->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <!-- 路径映射 -->
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	 <!-- 启用nodb时，将后面配置追加到最后：classpath:/ptconfig/arteryPlatform/spring/custom/artery-nodb.xml -->
     <!-- <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
        classpath*:/ptconfig/*/spring/*.xml
        classpath*:/spring/*.xml
        </param-value>
     </context-param> -->
	  <!-- Load by Spring ContextLoaderListener -->
	  <!-- <context-param>
	  <param-name>contextConfigLocation</param-name>
		  <param-value>
		       /WEB-INF/applicationContext.xml
		  </param-value>
	  </context-param> -->
	  <!-- <servlet>
	    <servlet-name>dispatcher</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>dispatcher</servlet-name>
	    <url-pattern>/</url-pattern>
	  </servlet-mapping> -->
	  
	    <!-- log4j配置，文件路径，因为是跟随项目启动 -->
        <context-param>
            <param-name>log4jConfigLocation</param-name>
            <param-value>/WEB-INF/log4j.xml</param-value>
        </context-param>
        <!-- 配置log4j.xml变量，如果需要动态的就使用下面方式，使用方法${name} -->
        <context-param>
            <param-name>controller</param-name>
            <param-value>controller-log</param-value>
        </context-param>
         
        <context-param>
            <param-name>loggingLevel</param-name>
            <param-value>info</param-value>
        </context-param>
        <!-- 加载log4j配置文件 -->
        <listener>
            <listener-class>org.springframework.web.util.Log4jConfigListener
            </listener-class>
        </listener>
		
</web-app>